//Colores

$color-fondo:linear-gradient(black, rgb(130, 5, 184), Black);
$color-top:black;
$color-texto-nav:rgb(163, 92, 230);
$color-titulo: white;


//Medidas

$alto-imagen:150px;
$ancho-imagen:150px;

