*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
    color: blueviolet;
}

body{
    background:linear-gradient(black, rgb(130, 5, 184), Black)
}

/* Estilo menu */
.top{
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    background-color: black;
   
}
a{
    text-decoration: none;
}

.menu{
    padding-top: 25px;
}


.menu ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
}
.menu ul li{
    margin-right:2%;
}

video{
    width: 100%;
    height: 100%;
    
    
}

#tittle{
    padding: 10px;
    font-size: xx-large;
}

h2{
    color:antiquewhite;
    font-family:sans-serif;
}

/* Celulares */

#celulares{
    display: flex;
    justify-content:space-around;
    display: grid;
    grid-template-columns: 20%, 20%, 20%;
    grid-template-rows: 20%, 20%;
    grid-template-areas: 
    "iphone huawei motorola"
    "pixel samsung xiaomi"  
}

#celulares img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.iphone{
    max-width: 170px;
    margin: 15px;
    padding: 10px;
    grid-area: iphone;
    border-radius: 10px;
    box-shadow: 0 0 0.1em rgba(0, 0,0, 0.3);
    background-color:white;
    transition: all 300ms ease;

}
.iphone:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-3%)
}

.iphone p{
    color: #333030
}

.huawei{
    max-width: 170px;
    margin: 15px;
    padding: 10px;
    grid-area: huawei;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0.3);
    background-color:white;
    transition: all 300ms ease;
}
.huawei:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-3%)
}

.huawei p{
    color: #333030
}

.motorola{
    max-width: 170px;
    margin: 15px;
    padding: 10px;
    grid-area: motorola;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0.3);
    background-color:white;
    transition: all 300ms ease;
}
.motorola:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-3%)
}

.motorola p{
    color: #333030
}

.pixel{
    max-width: 170px;
    margin: 15px;
    padding: 10px;
    grid-area: pixel;
    border-radius: 10px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0.3);
    background-color:white;
    transition: all 300ms ease;
}
.pixel:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-3%)

}

.pixel p{
    color: #333030
}

.samsung{
    max-width: 170px;
    margin: 15px;
    padding: 10px;
    grid-area: samsung;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0.3);
    background-color:white;
    transition: all 300ms ease;
}
.samsung:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-3%)
}

.samsung p{
    color: #333030
}

.xiaomi{
    max-width: 170px;
    margin: 15px;
    padding: 10px;
    grid-area: xiaomi;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0.3);
    background-color:white;
    transition: all 300ms ease;
}
.xiaomi:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-3%)
}

.xiaomi p{
    color: #333030
}


/* Accesorios */
#accesorios{
    display: flex;
    justify-content:space-around;
    display: grid;
    grid-template-columns: 20%, 20%, 20%;
    grid-template-rows: 20%, 20%;
    grid-template-areas: 
    "cable funda powerbank"
    "gamepad vidrio adaptador"  
}

#accesorios img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}


.cable{
    max-width: 150px;
    margin: 15px;
    padding: 10px;
    grid-area: cable;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0.3);
    background-color:white;
    transition: all 300ms ease;
}
.cable:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-3%)

}

.cable p{
    color: #333030
}

.funda{
    max-width: 150px;
    margin: 15px;
    padding: 10px;
    grid-area: funda;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0.3);
    background-color:white;
    transition: all 300ms ease;
}
.funda:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-3%)
}

.funda p{
    color: #333030
}

.powerbank{
    max-width: 150px;
    margin: 15px;
    padding: 10px;
    grid-area: powerbank;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0.3);
    background-color:white;
    transition: all 300ms ease;
}
.powerbank:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-3%)
}

.powerbank p{
    color: #333030
}

.gamepad{
    max-width: 150px;
    margin: 10px;
    padding: 10px;
    grid-area: gamepad;
    border-radius: 10px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0.3);
    background-color:white;
    transition: all 300ms ease;
}
.gamepad:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-3%)

}

.gamepad p{
    color: #333030
}

.vidrio{
    max-width: 150px;
    margin: 10px;
    padding: 10px;
    grid-area: vidrio;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0.3);
    background-color:white;
    transition: all 300ms ease;
}
.vidrio:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-3%)
}

.vidrio p{
    color: #333030
}

.adaptador{
    max-width: 150px;
    margin: 10px;
    padding: 10px;
    grid-area: adaptador;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0.3);
    background-color:white;
    transition: all 300ms ease;
}
.adaptador:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-3%)
}

.adaptador p{
    color: #333030
}

/* Nosotros */

.texto{
    margin: 50px;
    padding: 50px;
    text-align: center;
    font-size: x-large;
}
.texto p{
    color:aliceblue;
    padding: 10px;
    margin: 50px;
}

/* Contacto */

#formulario{
    margin: 20px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}
label{
    color:antiquewhite
}


footer{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-color: black;
    
}
